{% extends 'base.html' %}

{% block content %}
<div style="margin: 50px 10%">
<h1>Credits go to respected owners of the data</h1>
<h3>Motus database</h3>
<p><a href="https://motus.org">Motus</a> is a wildlife tracking system. Collaborating researchers use automated radio telemetry to track various migrating animals: birds, insects and bats. All credits for the data used to create this website go to Motus. Only open-access data is being used.</p>
</div>

<div style="margin: 50px 10%">
<h3>Pictures</h3>
Photos of animals are drawn from <a href="https://en.wikipedia.org">Wikipedia</a> pages.
    </div>

<div style="margin: 50px 10%">
<h3>Motus Today</h3>
This website is created and maintained by the one and only Sasha Shikunova herself.
    </div>

{% endblock %}